[submodule "roverblog/public"]
	path = roverblog/public
	url = https://github.com/wtsia/rover.github.io.git
	branch = main
[submodule "roverblog/roverblog/themes/hugo-vitae"]
	path = roverblog/roverblog/themes/hugo-vitae
	url = https://github.com/dataCobra/hugo-vitae.git
